body {
    background-color: #ededed;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777;
    width: 960px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: #ffffff;
    width: 100%;
}

.name {
    float: left;
    display: inline;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    width: 200px;
    text-align: center;
}

nav {
    float: right;
    display: inline;
}

.navlink {
    color: #777777;
    padding: 10px;
}

section {
    float: left;
    width: 630px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 25px;
}

.profile {
    float: left;
    display: inline;
    max-width: 35%;
    height: auto;
    margin-right: 20px;
}

h1 {
    color: #4aaaa5;
}

hr {
    background-color: #ededed;
    border: solid;
    border-color: #ededed;
    margin-bottom: 20px;
}

.standardinput{
    width: 100%;
    margin-bottom: 20px;
}
.messageinput{
    width: 100%;
    height: 200px;
}

aside {
    float: right;
    display: inline;
    width: 240px;
    background-color: #ffffff;
    margin-top: 25px;
    padding: 20px;
}

.SocialMedia {
   max-width: 20%;
   height: auto;
   padding: 5px;
}

footer {
    background-color:#666666;
    color: #ededed;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 20px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 5px;
}

